In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
ratings = pd.read_csv("ml-latest-small/ratings.csv")

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
ratings.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [6]:
df = ratings.groupby("userId").count()
df.tail()

        movieId  rating  timestamp
userId
606        1115    1115       1115
607         187     187        187
608         831     831        831
609          37      37         37
610        1302    1302       1302

In [7]:
df["movieId"][0]

KeyError: 0

In [8]:
movies = pd.read_csv("ml-latest-small/movies.csv")

In [9]:
movies["lis"] = movies.apply(lambda r: list(r.genres.split("|")),axis=1)
movies.head()

,movieId,title,genres,lis
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),Comedy|Romance,"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),Comedy,[Comedy]

In [10]:
mmap = {1: "Action",
2: "Adventure",
3: "Animation",
4: "Children",
5: "Comedy",
6: "Crime",
7: "Documentary",
8: "Drama",
9: "Fantasy",
10: "Film-Noir",
11: "Horror",
12: "Musical",
13: "Mystery",
14: "Romance",
15: "Sci-Fi",
16: "Thriller",
17: "War",
18: "Western",
19: "(no genres listed)"}
mmap = {value:key for key, value in mmap.items()}

In [11]:
moviemap = {}
keysofmap = mmap.keys()
for ind in movies.index:
    moviemap[int(movies["movieId"][ind])] = [mmap[movie] for movie in movies["lis"][ind] if movie in keysofmap]
moviemap[3]

[5, 14]

In [0]:
matrix = np.zeros((611,20))
counter = np.zeros((611,20))

for rate in ratings.index:
  # matrix[]
  uid = ratings["userId"][rate]
  for genre in moviemap[ratings["movieId"][rate]]:
    matrix[uid][genre] = matrix[uid][genre] + ratings["rating"][rate]
    counter[uid][genre] = counter[uid][genre] + 1
  # matrix[rate] = matrix[rate] / df["movieId"][uid]

In [83]:
temp = matrix
matrix

array([[   0. ,    0. ,    0. , ...,    0. ,    0. ,    0. ],
       [   0. ,  389. ,  373. , ...,   99. ,   30. ,    0. ],
       [   0. ,   43.5,   12.5, ...,    4.5,    3.5,    0. ],
       ...,
       [   0. ,  922.5,  583. , ...,   68. ,   29. ,    0. ],
       [   0. ,   34. ,   32. , ...,   14. ,    4. ,    0. ],
       [   0. , 1861.5,  989.5, ...,  177.5,  123.5,    0. ]])

In [1]:
counter = np.max(counter, np.ones((611,20)))

NameError: ignored

In [75]:
matrix = matrix[:,1:20]
matrix

array([[   0. ,    0. ,    0. , ...,    0. ,    0. ,    0. ],
       [ 389. ,  373. ,  136. , ...,   99. ,   30. ,    0. ],
       [  43.5,   12.5,    0. , ...,    4.5,    3.5,    0. ],
       ...,
       [ 922.5,  583. ,  171.5, ...,   68. ,   29. ,    0. ],
       [  34. ,   32. ,    3. , ...,   14. ,    4. ,    0. ],
       [1861.5,  989.5,  257.5, ...,  177.5,  123.5,    0. ]])